version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: iware-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Jasadenam66/
      MYSQL_DATABASE: iware_perizinan
      MYSQL_USER: iware
      MYSQL_PASSWORD: Jasadenam66/
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    command: --default-authentication-plugin=mysql_native_password
    deploy:
      resources:
        limits:
          memory: 800M

  backend:
    build: ./backend
    container_name: iware-backend
    restart: always
    environment:
      PORT: 5000
      NODE_ENV: production
      DB_HOST: mysql
      DB_USER: iware
      DB_PASSWORD: Jasadenam66/
      DB_NAME: iware_perizinan
      JWT_SECRET: d73d71a47452c7af78f6bd888005afee23adba5f936da33d67ce5baed764db62
      FRONTEND_URL: https://iwareid.com,https://www.iwareid.com
      WHATSAPP_ENABLED: false
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    volumes:
      - uploads_data:/app/uploads
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 512M

  frontend:
    build: ./frontend
    container_name: iware-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  mysql_data:
  uploads_data:

networks:
  app-network:
    driver: bridge
